@model CourseViewModel

@{
    ViewData["Title"] = "Course Details";
}

<!--Title-->
<div class="title text-white shadow">
    <!--Row-->
    <div class="g-2 row">
        <!--Col-->
        <div class="gap-2 col-12 d-flex align-content-center">
            <!--Title-->
            <h4 class="m-0 ms-2 pt-1"><strong>Course</strong> Details</h4>
            <!--Buttons-->
            <div class="ms-auto gap-2 d-flex">
                <!--Manage-->
                <a class="btn btn-primary" asp-action="Manage"><i class="bi bi-list-ul"></i></a>
                <!--Create-->
                <a class="btn btn-success" asp-action="Create"><i class="bi bi-plus-circle"></i>&nbsp;NEW</a>
            </div>
        </div>
    </div>
</div>

<!--Section-->
<div class="section my-sm-2 border rounded shadow">
    <!--Form-->
    <form method="post">
        <!--Section Header-->
        <div class="section-header">
            <!--Row-->
            <div class="g-2 row border-bottom">
                <!--Col-->
                <div class="col-12 d-flex align-content-center">
                    <!--Info-->
                    <h6 class="m-0 ms-1">@Model.Course.Code (UID: @Model.Course.Id)</h6>
                </div>
            </div>
        </div>

        <!--Row-->
        <div class="g-2 row">
            <!--Col-->
            <div class="col-12">
                <!--Id-->
                <h4>@Model.Course.Title</h4>
            </div>
            <!--Col-->
            <div class="gap-2 col-12 d-flex">
                <!--Edit-->
                <a class="btn btn-secondary" asp-action="Edit" asp-route-id="@Model.Course.Id"><i class="bi bi-pencil-square"></i>&nbsp;EDIT</a>
                <!--Delete-->
                <a class="btn btn-danger" asp-action="Delete" asp-route-id="@Model.Course.Id"><i class="bi bi-trash3"></i>&nbsp;DELETE</a>
            </div>
        </div>
    </form>
</div>