@model ListViewModel<Course>

@{
    ViewData["Title"] = "Courses";

    var newSortOrder = (string.IsNullOrEmpty(Model.SortOrder) || Model.SortOrder == "Descending") ? "Ascending" : "Descending";
    var sortIconClass = Model.SortOrder == "Descending" ? "bi-sort-down" : "bi-sort-up";
}

<!-- Top -->
<div class="m-0 p-0 row g-2">
    <div class="col-sm-auto">
        <div class="d-flex align-items-center">
            <h2 class="m-0">Manage <b>Courses</b></h2>
        </div>
    </div>
    <div class="col-sm-auto">
        <a class="btn btn-success" title="Create New Record" asp-action="Create"><i class="bi bi-plus-circle"></i> ADD NEW</a>
    </div>
    <div class="ms-auto col-sm-auto">
        <form method="get">
            <div class="row g-2">
                <div class="col-sm-auto d-flex gap-2">
                    <div class="input-group">
                        <label class="input-group-text" for="pageNumber"><i class="bi bi-arrow-left-right"></i>&nbsp;Page</label>
                        <input type="number" class="form-control" id="pageNumber" name="PageNumber" placeholder="@Model.PageNumber" min="1" value="@Model.PageNumber">
                    </div>
                    <div class="input-group">
                        <label class="input-group-text" for="pageSize"><i class="bi bi-eye"></i>&nbsp;Items</label>
                        <input type="number" class="form-control" id="pageSize" name="PageSize" placeholder="@Model.PageSize" min="1" max="100" value="@Model.PageSize">
                    </div>
                </div>
                <div class="col-sm-auto d-flex gap-2">
                    <div class="w-100">
                        <input type="hidden" asp-for="SortField" />
                        <input type="hidden" asp-for="SortOrder" />
                        <div class="input-group">
                            <label class="input-group-text" for="filter"><i class="bi bi-filter"></i>&nbsp;Filter</label>
                            @*<select class="form-select" name="FilterField">
                                    <option selected>All</option>
                                    <option value="Code">Code</option>
                                    <option value="Title">Title</option>
                                </select>*@
                            <input type="search" class="form-control" id="filter" name="FilterText" placeholder="Text" value="@Model.FilterText">
                        </div>
                    </div>
                    <button class="btn btn btn-primary" type="submit" title="Go"><i class="bi bi-arrow-right-circle"></i></button>
                </div>
            </div>
        </form>
    </div>
</div>

<!-- Page Indicator -->
<div class="m-0 p-0 pb-2 row g-2">
    <div class="col-sm-auto d-flex align-items-center">
        <div>Showing @Model.FirstItemOnPage - @Model.LastItemOnPage of @Model.TotalItemsCount item(s) on page @Model.PageNumber of @Model.PagesCount @(string.IsNullOrEmpty(Model.FilterText) ? "" : $" [Filter : \"{Model.FilterText}\"]")</div>
    </div>
    <div class="ms-auto col-sm-auto d-flex">
        @Html.PagedListPager(Model.Items,
p => Url.Action("Index", new { PageNumber = p, Model.PageSize, Model.SortField, Model.SortOrder, Model.FilterText }),
new PagedListRenderOptions
{
    ContainerDivClasses = new string[] { "ms-auto overflow-auto" },
    UlElementClasses = new string[] { "pagination m-0" },
    LiElementClasses = new string[] { "page-item" },
    PageClasses = new string[] { "page-link" },
    DisplayLinkToFirstPage = PagedListDisplayMode.Always,
    DisplayLinkToLastPage = PagedListDisplayMode.Always,
    MaximumPageNumbersToDisplay = 7,
})
    </div>
</div>

<!-- Table -->
<div class="m-0 p-0 row g-2 table-responsive border-top">
    <div class="p-0 col">
        <table class="m-0 table table-sm table-hover" id="listTable">
            <thead>
                <tr class="align-items-center">
                    <th>
                        <a asp-action="Index"
                           asp-route-PageNumber="@Model.PageNumber"
                           asp-route-PageSize="@Model.PageSize"
                           asp-route-SortField="Code"
                           asp-route-SortOrder="@newSortOrder"
                           asp-route-FilterText="@Model.FilterText">
                            Code
                            @if (Model.SortField == "Code")
                            {
                                <i class="bi @sortIconClass"></i>
                            }
                        </a>
                    </th>
                    <th>
                        <a asp-action="Index"
                           asp-route-PageNumber="@Model.PageNumber"
                           asp-route-PageSize="@Model.PageSize"
                           asp-route-SortField="Title"
                           asp-route-SortOrder="@newSortOrder"
                           asp-route-FilterText="@Model.FilterText">
                            Title
                            @if (Model.SortField == "Title")
                            {
                                <i class="bi @sortIconClass"></i>
                            }
                        </a>
                    </th>
                    <th>
                        <a asp-action="Index"
                           asp-route-PageNumber="@Model.PageNumber"
                           asp-route-PageSize="@Model.PageSize"
                           asp-route-SortField="Level"
                           asp-route-SortOrder="@newSortOrder"
                           asp-route-FilterText="@Model.FilterText">
                            Level
                            @if (Model.SortField == "Level")
                            {
                                <i class="bi @sortIconClass"></i>
                            }
                        </a>
                    </th>
                    <th>
                        <a asp-action="Index"
                           asp-route-PageNumber="@Model.PageNumber"
                           asp-route-PageSize="@Model.PageSize"
                           asp-route-SortField="AddedDate"
                           asp-route-SortOrder="@newSortOrder"
                           asp-route-FilterText="@Model.FilterText">
                            Added Date
                            @if (Model.SortField == "AddedDate")
                            {
                                <i class="bi @sortIconClass"></i>
                            }
                        </a>
                    </th>
                    <th>
                        <a asp-action="Index"
                           asp-route-PageNumber="@Model.PageNumber"
                           asp-route-PageSize="@Model.PageSize"
                           asp-route-SortField="ModifiedDate"
                           asp-route-SortOrder="@newSortOrder"
                           asp-route-FilterText="@Model.FilterText">
                            Modified Date
                            @if (Model.SortField == "ModifiedDate")
                            {
                                <i class="bi @sortIconClass"></i>
                            }
                        </a>
                    </th>
                    <th class="d-flex align-middle justify-content-end gap-1">
                        <!-- Button trigger modal -->
                        <button class="btn btn-sm btn-outline-danger" type="button" id="deleteButton" data-bs-toggle="modal" data-bs-target="#deleteModal">
                            <i class="bi bi-trash3">&nbsp;</i>DELETE
                        </button>

                        <!-- Modal -->
                        <div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel">Delete Confirmation</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        <h4>Do you want to delete the selected<span id="selectedItemsCountSpan"></span> item(s)?</h4>
                                    </div>
                                    <div class="modal-footer">
                                        <form asp-action="Delete" method="post">
                                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">CANCEL</button>
                                            <button type="submit" class="btn btn-danger"><i class="bi bi-trash3">&nbsp;</i>DELETE</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Items)
                {
                    <tr class="align-middle">
                        @*@Html.Raw(Regex.Replace(item.Code, Model.FilterText, "<mark>" + Model.FilterText + "</mark>", RegexOptions.IgnoreCase))*@
                        <td>
                            @Html.DisplayFor(modelItem => item.Code)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Title)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Level)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.AddedDate)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ModifiedDate)
                        </td>
                        <td>
                            <div class="d-flex align-items-center justify-content-end gap-1">
                                <a class="btn btn-sm btn-outline-info" asp-action="Details" asp-route-id="@item.Id" title="Details"><i class="bi bi-info-circle"></i></a>
                                <a class="btn btn-sm btn-outline-secondary" asp-action="Edit" asp-route-id="@item.Id" title="Edit"><i class="bi bi-pencil-square"></i></a>
                                <a class="btn btn-sm btn-outline-danger" asp-action="Delete" asp-route-id="@item.Id" title="Delete"><i class="bi bi-trash3"></i></a>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

<!-- Page Indicator -->
<div class="m-0 p-0 pb-2 row g-2">
    <div class="col-sm-auto d-flex align-items-center">
        <div>Showing @Model.FirstItemOnPage - @Model.LastItemOnPage of @Model.TotalItemsCount item(s) on page @Model.PageNumber of @Model.PagesCount @(string.IsNullOrEmpty(Model.FilterText) ? "" : $" [Filter : \"{Model.FilterText}\"]")</div>
    </div>
    <div class="ms-auto col-sm-auto d-flex">
        @Html.PagedListPager(Model.Items,
p => Url.Action("Index", new { PageNumber = p, Model.PageSize, Model.SortField, Model.SortOrder, Model.FilterText }),
new PagedListRenderOptions
{
    ContainerDivClasses = new string[] { "ms-auto overflow-auto" },
    UlElementClasses = new string[] { "pagination m-0" },
    LiElementClasses = new string[] { "page-item" },
    PageClasses = new string[] { "page-link" },
    DisplayLinkToFirstPage = PagedListDisplayMode.Always,
    DisplayLinkToLastPage = PagedListDisplayMode.Always,
    MaximumPageNumbersToDisplay = 7,
})
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ListPartial");}
}