@model ListViewModel<Course>

@{
    ViewData["Title"] = "Courses";

    var newSortOrder = (Model.SortOrder == "Ascending") ? "Descending" : "Ascending";
    var sortIconClass = Model.SortOrder == "Descending" ? "bi-sort-down" : "bi-sort-up";
}

@section Header {
    <!--Row-->
    <div class="m-0 p-0 g-2 row">
        <div class="gap-2 col-12 d-flex align-content-center">
            <!--Title-->
            <h3 class="m-0 p-0">Manage <strong>Courses</strong></h3>
            <!--Buttons-->
            <div class="ms-auto gap-2 d-flex">
                <a class="btn btn-outline-primary" title="List Options" data-bs-toggle="modal" data-bs-target="#optionsModal">
                    <i class="bi bi-sliders"></i>
                </a>
                <a class="btn btn-success" title="Create" asp-action="Create"><i class="bi bi-plus-circle"></i>&nbsp;NEW</a>
            </div>
        </div>
    </div>

    <!--Modal-->
    <div class="modal fade" id="optionsModal" tabindex="-1" aria-labelledby="optionsModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <!--Form-->
                <form method="get">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">List Options</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="gap-2 d-flex">
                            <!--PageNumber-->
                            <div class="form-floating w-50">
                                <input class="form-control" placeholder="@Model.PageNumber" asp-for="PageNumber" min="1">
                                <label asp-for="PageNumber"><i class="bi bi-arrow-left-right"></i>&nbsp;Page</label>
                            </div>
                            <!--PageSize-->
                            <div class="form-floating w-50">
                                <input class="form-control" placeholder="@Model.PageSize" asp-for="PageSize" min="1" max="100">
                                <label asp-for="PageSize"><i class="bi bi-eye"></i>&nbsp;Items</label>
                            </div>
                        </div>

                        <div class="mt-2 gap-2 d-flex">
                            <!--Search-->
                            <div class="form-floating w-100">
                                <input type="search" class="form-control" id="filter" name="SearchText" placeholder="Text" value="@Model.SearchText">
                                <label for="filter"><i class="bi bi-search"></i>&nbsp;Search</label>
                            </div>
                            <input type="hidden" asp-for="SortField" />
                            <input type="hidden" asp-for="SortOrder" />
                        </div>
                    </div>
                    <div class="modal-footer">
                        <!--Go-->
                        <button class="btn btn-primary" type="submit" title="Go"><i class="bi bi-arrow-right-circle"></i>&nbsp;GO</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
}

<!--Row-->
<div class="m-0 p-0 pb-2 g-2 row border-bottom">
    <!--Col-->
    <div class="col-auto col-sm-3 order-1 order-sm-0 d-flex align-items-center">
        <!--Page Info-->
        <label class="small">Page: @Model.PageNumber of @Model.PagesCount</label>
    </div>
    <!--Col-->
    <div class="ms-auto col-auto col-sm-3 order-2 order-sm-2 d-flex justify-content-end align-items-center">
        <!--Items Info-->
        <label class="small">Item(s): @Model.FirstItemOnPage - @Model.LastItemOnPage of @Model.TotalItemsCount @(string.IsNullOrEmpty(Model.SearchText) ? "" : $" [Search : \"{Model.SearchText}\"]")</label>
    </div>
    <!--Col-->
    <div class="col-12 col-sm-6 order-0 order-sm-1 d-flex justify-content-center align-items-center">
        <!--Pagination-->
        @Html.PagedListPager(Model.Items,
   p => Url.Action("Index", new { PageNumber = p, Model.PageSize, Model.SortField, Model.SortOrder, Model.SearchField, Model.SearchText }),
   new PagedListRenderOptions
   {
       ContainerDivClasses = new string[] { "overflow-auto" },
       UlElementClasses = new string[] { "pagination m-0" },
       LiElementClasses = new string[] { "page-item" },
       PageClasses = new string[] { "page-link" },
       DisplayLinkToFirstPage = PagedListDisplayMode.Always,
       DisplayLinkToLastPage = PagedListDisplayMode.Always,
       MaximumPageNumbersToDisplay = 5,
   })
    </div>
</div>

<!--Row-->
<div class="m-0 p-0 g-2 row table-responsive">
    <!--Table-->
    <table class="m-0 p-0 table table-sm table-hover">
        <thead>
            <tr class="align-middle">
                <th>
                    <a asp-action="Index"
                       asp-route-PageNumber="@Model.PageNumber"
                       asp-route-PageSize="@Model.PageSize"
                       asp-route-SortField="Code"
                       asp-route-SortOrder="@(Model.SortField == "Code" ? newSortOrder : Model.SortOrder)"
                       asp-route-SearchText="@Model.SearchText">
                        @if (Model.SortField == "Code")
                        {
                            <i class="bi @sortIconClass"></i>
                        }
                        Code
                    </a>
                </th>
                <th>
                    <a asp-action="Index"
                       asp-route-PageNumber="@Model.PageNumber"
                       asp-route-PageSize="@Model.PageSize"
                       asp-route-SortField="Title"
                       asp-route-SortOrder="@(Model.SortField == "Title" ? newSortOrder : Model.SortOrder)"
                       asp-route-SearchText="@Model.SearchText">
                        @if (Model.SortField == "Title")
                        {
                            <i class="bi @sortIconClass"></i>
                        }
                        Title
                    </a>
                </th>
                <th>
                    <a asp-action="Index"
                       asp-route-PageNumber="@Model.PageNumber"
                       asp-route-PageSize="@Model.PageSize"
                       asp-route-SortField="Level"
                       asp-route-SortOrder="@(Model.SortField == "Level" ? newSortOrder : Model.SortOrder)"
                       asp-route-SearchText="@Model.SearchText">
                        @if (Model.SortField == "Level")
                        {
                            <i class="bi @sortIconClass"></i>
                        }
                        Level
                    </a>
                </th>
                <th>
                    <a asp-action="Index"
                       asp-route-PageNumber="@Model.PageNumber"
                       asp-route-PageSize="@Model.PageSize"
                       asp-route-SortField="Type"
                       asp-route-SortOrder="@(Model.SortField == "Type" ? newSortOrder : Model.SortOrder)"
                       asp-route-SearchText="@Model.SearchText">
                        @if (Model.SortField == "Type")
                        {
                            <i class="bi @sortIconClass"></i>
                        }
                        Type
                    </a>
                </th>
                <th>
                    <a asp-action="Index"
                       asp-route-PageNumber="@Model.PageNumber"
                       asp-route-PageSize="@Model.PageSize"
                       asp-route-SortField="AddedDateTime"
                       asp-route-SortOrder="@(Model.SortField == "AddedDateTime" ? newSortOrder : Model.SortOrder)"
                       asp-route-SearchText="@Model.SearchText">
                        @if (Model.SortField == "AddedDateTime")
                        {
                            <i class="bi @sortIconClass"></i>
                        }
                        Added Date | Time
                    </a>
                </th>
                <th>
                    <a asp-action="Index"
                       asp-route-PageNumber="@Model.PageNumber"
                       asp-route-PageSize="@Model.PageSize"
                       asp-route-SortField="ModifiedDateTime"
                       asp-route-SortOrder="@(Model.SortField == "ModifiedDateTime" ? newSortOrder : Model.SortOrder)"
                       asp-route-SearchText="@Model.SearchText">
                        @if (Model.SortField == "ModifiedDateTime")
                        {
                            <i class="bi @sortIconClass"></i>
                        }
                        Modified Date | Time
                    </a>
                </th>
                <th>
                    <div class="d-flex justify-content-end gap-1">
                        <a class="btn btn-sm btn-outline-success rounded-pill"
                           asp-action="Download"
                           asp-route-SortField="@Model.SortField"
                           asp-route-SortOrder="@Model.SortOrder"
                           asp-route-SearchText="@Model.SearchText" title="Download">
                            <i class="bi bi-download"></i>&nbsp;DOWNLOAD
                        </a>
                    </div>
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Items)
            {
                <tr class="align-middle">
                    @*@Html.Raw(Regex.Replace(item.Code, Model.SearchText, "<mark>" + Model.SearchText + "</mark>", RegexOptions.IgnoreCase))*@
                    <td>@item.Code</td>
                    <td>@item.Title</td>
                    <td>@item.Level</td>
                    <td>@item.Type</td>
                    <td>@item.AddedDateTime?.ToString(StringFormat.DateTime)</td>
                    <td>@item.ModifiedDateTime?.ToString(StringFormat.DateTime)</td>
                    <td>
                        <div class="d-flex justify-content-end gap-1">
                            <a class="btn btn-sm btn-outline-info rounded-circle" asp-action="Details" asp-route-id="@item.Id" title="Details"><i class="bi bi-info-circle"></i></a>
                            <a class="btn btn-sm btn-outline-secondary rounded-circle" asp-action="Edit" asp-route-id="@item.Id" title="Edit"><i class="bi bi-pencil-square"></i></a>
                            <a class="btn btn-sm btn-outline-danger rounded-circle" asp-action="Delete" asp-route-id="@item.Id" title="Delete"><i class="bi bi-trash3"></i></a>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ListPartial");}
}