@model ListViewModel<Course>

@{
    ViewData["Title"] = "Courses";

    var newSortOrder = (string.IsNullOrEmpty(Model.SortOrder) || Model.SortOrder == "Descending") ? "Ascending" : "Descending";
    var sortIconClass = Model.SortOrder == "Descending" ? "bi-sort-down" : "bi-sort-up";
}

<!-- Header -->
<div class="row my-2 p-0">
    <div class="col-sm-auto">
        <h2 class="m-0">Manage <b>Courses</b></h2>
    </div>
    <div class="col-sm-auto ms-auto">
        <form method="get">
            <div class="row g-2">
                <div class="col-sm-auto">
                    <input type="hidden" asp-for="PageNumber" />
                    <div class="input-group">
                        <span class="input-group-text"><i class="bi bi-eye"></i>&nbsp;Items</span>
                        <input type="number" class="form-control" name="PageSize" placeholder="10" min="1" max="100" value="@Model.PageSize">
                    </div>
                </div>
                <div class="col-sm-auto">
                    <input type="hidden" asp-for="SortField" />
                    <input type="hidden" asp-for="SortOrder" />
                    <div class="input-group">
                        <span class="input-group-text"><i class="bi bi-filter"></i>&nbsp;Filter</span>
                        @*<select class="form-select" name="FilterField">
                            <option selected>All</option>
                            <option value="Code">Code</option>
                            <option value="Title">Title</option>
                        </select>*@
                        <input type="search" class="form-control" id="filter" name="FilterText" placeholder="Text" value="@Model.FilterText">
                    </div>
                </div>
                <div class="col-sm-auto">
                    <button class="btn btn btn-primary" type="submit" title="Go"><i class="bi bi-arrow-right-circle"></i></button>
                </div>
            </div>
        </form>
    </div>
</div>

<div class="row my-2 p-0 align-items-center">
    <div class="col-sm-auto">
        <div class="">
            <a class="btn btn-success" title="Create New Record" asp-action="Create"><i class="bi bi-plus-circle"></i> ADD NEW</a>
        </div>
    </div>
    <div class="col-sm-auto ms-auto">
        <div class="row align-items-center">
            <div class="col-sm-auto">
                <div>Showing @Model.PagedList.FirstItemOnPage - @Model.PagedList.LastItemOnPage of @Model.PagedList.TotalItemCount item(s)</div>
            </div>
            <div class="col-sm-auto">
                <div>Page @Model.PagedList.PageNumber of @Model.PagedList.PageCount</div>
            </div>
            <div class="col-sm-auto">
                @Html.PagedListPager(Model.PagedList,
        p => Url.Action("Index", new { PageNumber = p, Model.PageSize, Model.SortField, Model.SortOrder, Model.FilterText }),
        new PagedListRenderOptions
        {
            ContainerDivClasses = new string[] { "" },
            UlElementClasses = new string[] { "pagination m-0" },
            LiElementClasses = new string[] { "page-item" },
            PageClasses = new string[] { "page-link" },
            DisplayLinkToFirstPage = PagedListDisplayMode.Always,
            DisplayLinkToLastPage = PagedListDisplayMode.Always,
            MaximumPageNumbersToDisplay = 7,
        })
            </div>
        </div>
    </div>
</div>

<!-- Table -->
<div class="row table-responsive border-top">
    <div class="col">
        <table class="table table-sm my-2 table-hover">
            <thead>
                <tr class="align-items-center">
                    <th>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="selectAll" />
                        </div>
                    </th>
                    <th>
                        <a asp-action="Index"
                           asp-route-PageNumber="@Model.PageNumber"
                           asp-route-PageSize="@Model.PageSize"
                           asp-route-SortField="Code"
                           asp-route-SortOrder="@newSortOrder"
                           asp-route-SearchText="@Model.FilterText">
                            Code
                            @if (Model.SortField == "Code")
                            {
                                <i class="bi @sortIconClass"></i>
                            }
                        </a>
                    </th>
                    <th>
                        <a asp-action="Index"
                           asp-route-PageNumber="@Model.PageNumber"
                           asp-route-PageSize="@Model.PageSize"
                           asp-route-SortField="Title"
                           asp-route-SortOrder="@newSortOrder"
                           asp-route-SearchText="@Model.FilterText">
                            Title
                            @if (Model.SortField == "Title")
                            {
                                <i class="bi @sortIconClass"></i>
                            }
                        </a>
                    </th>
                    <th>

                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.PagedList)
                {
                    <tr class="">
                        <td>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" id="select_@item.Code" />
                            </div>
                        </td>
                        @*@Html.Raw(Regex.Replace(item.Code, Model.FilterText, "<mark>" + Model.FilterText + "</mark>", RegexOptions.IgnoreCase))*@
                        <td>
                            @Html.DisplayFor(modelItem => item.Code)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Title)
                        </td>
                        <td>
                            <div class="d-flex justify-content-end gap-1">
                                <a class="btn btn-sm btn-outline-info" asp-action="Details" asp-route-id="@item.Code" title="Details"><i class="bi bi-info-circle"></i></a>
                                <a class="btn btn-sm btn-outline-secondary" asp-action="Edit" asp-route-id="@item.Code" title="Edit"><i class="bi bi-pencil-square"></i></a>
                                <a class="btn btn-sm btn-outline-danger" asp-action="Delete" asp-route-id="@item.Code" title="Delete"><i class="bi bi-trash3"></i></a>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
